.left-panel {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (max-width: 1050px) {
    min-width: 200px;
  }

  @media screen and (max-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
