.journal-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.journal-text {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid blue;

  @media screen and (max-width: 1050px) {
    font-size: 20px;
  }
}
