.button {
  width: 200px;
  border-radius: 6px;
  padding: 8px 30px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  transition: background 0.25s;
  border: none;

  @media screen and (max-width: 600px) {
    display: block;
    margin: 0 auto;
  }
}

.accent {
  background: #6865fa;
}

.accent:hover {
  background: #2228cb;
}
